<ion-view title="Main - User" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="mainUser-list1">
      <ion-item class="item-avatar" id="mainUser-list-item1" ui-sref="usuRio()">
        <img src="img/SFAcRk5RYqVONWFJuTiV_me.jpg">
        <h2>Tiago Selpuveda</h2>
        <p>12 Pontos - 03 Medalhas</p>
      </ion-item>
      <ion-item class="item-icon-left" id="mainUser-list-item3">
        <i class="icon ion-filing"></i>Minha Carteira R$ 14,00</ion-item>
      <ion-item class="item-icon-left" id="mainUser-list-item4" ui-sref="minhasViagens()">
        <i class="icon ion-fork-repo"></i>Minhas Viagens</ion-item>
      <ion-item class="item-icon-left" id="mainUser-list-item5">
        <i class="icon ion-alert-circled"></i>Reportar Problema</ion-item>
      <ion-item class="item-icon-left" id="mainUser-list-item6">
        <i class="icon ion-help-buoy"></i>Suporte</ion-item>
      <ion-item class="item-icon-left" id="mainUser-list-item7">
        <i class="icon ion-unlocked"></i>Termos de Uso</ion-item>
    </ion-list>
    <div class="spacer" style="height: 50px;"></div>
    <div id="mainUser-button-bar4" class="button-bar">
      <button id="mainUser-button22" class="button button-light button-block"></button>
      <a ui-sref="yellow()" id="mainUser-button23" style="color:#000000;" class="button button-energized button-block">Home</a>
      <button id="mainUser-button24" class="button button-light button-block"></button>
    </div>
  </ion-content>
</ion-view>