<ion-view title="Minhas Viagens" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="minhasViagens-list3">
      <div class="item item-body" id="minhasViagens-list-item-container1">
        <div id="minhasViagens-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Viagem matinal</strong>
          </p>

          <p style="color:#000000;">Sabado, 25 de agosto às 10:09</p>

          <p style="color:#000000;">Distancia........Duração.............Custo</p>

          <p style="color:#000000;">
            <strong>912m............4min32s............R$ 1,00</strong>
          </p>

          <p style="color:#000000;">
            <strong>Final: Sao Paulo Expo - 01 ponto</strong>
          </p>

          <p style="color:#000000;">.</p>
        </div>
      </div>
    </ion-list>
    <div id="minhasViagens-markdown3" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Viagem noturna</strong>
      </p>

      <p style="color:#000000;">Sexta, 24 de agosto às 20:09</p>

      <p style="color:#000000;">Distancia........Duração.............Custo</p>

      <p style="color:#000000;">
        <strong>15,4km............54min57s............R$ 4,00</strong>
      </p>
    </div>
    <div class="spacer" style="height: 35px;"></div>
    <div id="minhasViagens-button-bar3" class="button-bar">
      <a ui-sref="mainUser()" id="minhasViagens-button16" style="color:#000000;" class="button button-energized button-block">Menu</a>
      <button id="minhasViagens-button17" class="button button-light button-block"></button>
      <a ui-sref="yellow()" id="minhasViagens-button18" style="color:#000000;" class="button button-energized button-block">Home</a>
    </div>
  </ion-content>
</ion-view>