<ion-view title="Usuário" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="usuRio-list2">
      <ion-item class="item-avatar" id="usuRio-list-item8">
        <img src="img/yzib2kI6SYeYO5gYYjBF_me.jpg">
        <h2>Tiago Selpuveda</h2>
        <p>12 Pontos - 03 Medalhas</p>
      </ion-item>
      <ion-item class="item-icon-left" id="usuRio-list-item9">
        <i class="icon ion-android-bicycle"></i>12 Pontos</ion-item>
      <ion-item class="item-icon-left" id="usuRio-list-item10">
        <i class="icon ion-ribbon-a"></i>03 Medalhas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 200px;"></div>
    <div id="usuRio-button-bar2" class="button-bar">
      <a ui-sref="mainUser()" id="usuRio-button10" style="color:#000000;" class="button button-energized button-block">Menu</a>
      <button id="usuRio-button11" class="button button-light button-block"></button>
      <a ui-sref="yellow()" id="usuRio-button12" style="color:#000000;" class="button button-energized button-block">Home</a>
    </div>
  </ion-content>
</ion-view>